.directory-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  code {
    font-family: Open Sans, sans-serif,
     source-code-pro, Menlo, Monaco, Consolas, 
     'Courier New', monospace;
  }
  
  
